# Bot Configuration
BOT_TOKEN=8531374089:AAH9ES_O_d1PyX-AJ5s3r-Vlb8js1DoxuXg
ADMIN_USERNAME=tephh
ADMIN_PASSWORD=Tep#@54321

# KHQR Configuration (Get these from your bank)
KHQR_MERCHANT_ID=your_merchant_id_here
KHQR_API_KEY=your_khqr_api_key_here
KHQR_BASE_URL=https://api.khqr.bakong.nbc.gov.kh